<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <form action="{% url 'createFuction' %}" enctype="multipart/form-data" method="POST"
    style="margin-left: 200px; margin-right: 200px;">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Image Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp"
        placeholder="Enter Title">
    </div>
    <div class="form-group">
      <label for="description">Image Description</label>
      <textarea class="form-control" id="description" name="description" rows="3"
        placeholder="Enter Description"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Image File</label>
      <br>
      {{form.photo}}
    </div>
    <button type="submit" class="btn btn-primary">생성하기</button>
  </form>

</body>

</html>