{% extends 'base.html' %}
{% block content %}
<div class="banner-content text-center text-white">
    <h3>Outfit Of The Day</h3>
    <h4 class="text-uppercase">Strategy / Branding / Design / Interactive</h4>
    <div class="banner-high-lights row">
        <div class="bg-gd-info col-md-4">
            <div class="bg-gd">
                <i class="fab fa-react mb-2"></i>
                <h5 class="my-2">ranking</h5>
                좋아요와 팔로워 TOP10의 명단입니다!
            </div>
        </div>
        <div class="bg-gd-info col-md-4">
            <div class="bg-gd active">
                <i class="far fa-edit mb-2"></i>
                <h5 class="my-2">
                    feedback</h5>
                feed글을 작성하고, 여러 사람에게 feedback을 받으세요!</div>
        </div>
        <div class="bg-gd-info col-md-4">
            <div class="bg-gd">
                <i class="far fa-heart mb-2"></i>
                <h5 class="my-2">
                   market</h5>
                Lorem ipsum dolor sit amet consectetur elit</div>
        </div>
    </div>
    <div class="rotate">
        <a href="#about" class="scroll text-uppercase">
               <i class="fas fa-angle-double-down"></i>                  
    </a>
    </div>

</div>
<!-- //banner-info-->
</div>
</div>
<!-- //header-top-->
</section>
<!-- //mian-content-->
<!-- banner-bottom-wthree -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3" id="services">
<div class="container">
<div class="inner-sec-w3ls py-lg-5 py-3">
<h4 class="sub-tittle text-uppercase text-center">What we do</h4>
<h3 class="tittle text-center mb-md-5 mb-4">We Offered Services</h3>
<div class="row middle-grids">
    <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
        <div class="card">
            <div class="card-body">
                <i class="fab fa-accusoft mb-2"></i>
                <h5 class="card-title text-uppercase my-3">
                    feedback</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 about-in-w3ls middle-grid-info active text-center">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-compress mb-2"></i>
                <h5 class="card-title text-uppercase my-3">market</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 about-in-w3ls middle-grid-info text-center">
        <div class="card">
            <div class="card-body">
                <i class="fas fa-chart-pie mb-2"></i>
                <h5 class="card-title text-uppercase my-3">ranking</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
{% endblock %}
