{% extends 'base.html' %}
{% block content %}
{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">

  </head>

  <body>
    <h1 class="login">LOGIN</h1>
    <div class="card">
        <div class="card-body">
            <h5>Member Login</h5>
            <div class="findAccount">
                <h7>Find</h7>
                <h7><a id="findid" href="#">ID</a></h7>
                <h7>/</h7>
                <h7><a id="findpw" href="#">PW</a></h7>
            </div>
            <hr style="border: solid 0.5px lightgray;">
            
            <form class="form-signin">
                <label for="inputId" class="sr-only">ID</label>
                <input type="text" id="accountId" class="form-control" placeholder="ID" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="accountPw" class="form-control" placeholder="Password" required>   
            </form>

            <a href="/home"><button class="btn btn-light" type="button">Login</button></a>
            <a href="#"><button class="btn btn-secondary" type="button">Join</button></a>
        </div>
      </div>
</body>
</html>
{% endblock %}